<section class="content">
  <div class="box">
    <form role="form">
      <div class="box-header with-border">
        <h3 class="box-title">Company Master</h3>
      </div>

      <div class="box-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Company Type</label>
              <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label">Business Type</label>
              <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Status</label>
              <div class="form-radio-box">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Active</mat-radio-button>
                  <mat-radio-button value="2">InActive</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10">
            <h3 class="form-title">Company Details</h3>
            <div class="row form-box">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label" for="">Company Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Company Name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Annual Turnover</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Annual Turnover">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Number of Employees</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Number of Employees">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Establishment Date</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Establishment Date">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Phone number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Gstin number</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Gstin number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Food licence number</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Food licence number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Pan number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pan number">
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Tin number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tin Number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Other number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Other Number">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact person name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Contact person name">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1">Mobile number</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mobile number">
                </div>
              </div>
            </div>
          </div><!-- / col-md-9 -->
          <div class="col-md-2">
            <div class="form-group">
              <div class="image-edit text-center">
                <img src="https://via.placeholder.com/160x160" class="img-circle profile-image" alt="User Image">
                <ul class="list-inline">
                  <li>
                    <a href="#">
                      <i class="fa fa-camera"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-close"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-image"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="text-center">
              <h5><i class="fa fa-user"></i> Sudip Batabyal </h5>
              <h5><i class="fa fa-phone"></i> +91 987654321</h5>
            </div> -->
          </div><!-- / col-md-3 -->
        </div><!-- /row -->
        <h3 class="form-title">Physical Address</h3>
        <div class="row form-box">
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">House number/plot number:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="House number/plot number">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">City</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="City">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">District</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="District">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">State</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="State">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Country</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Country">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Pin Code</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pin Code">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Email address">
            </div>
          </div>
        </div>
        <h3 class="form-title">Social Credence</h3>
        <div class="row form-box">
          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn"><i class="fa fa-facebook"></i></button>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn"><i class="fa fa-twitter"></i></button>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn"><i class="fa fa-instagram"></i></button>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn"><i class="fa fa-linkedin"></i></button>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>

        </div>


      </div>
      <div class="box-footer">

        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6 pull-right mt-5">
            <button type="submit" class="btn btn-block btn-danger">Exit</button>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 pull-right mt-5">
            <button type="submit" class="btn btn-block btn-success">Save</button>
          </div>
        </div>

      </div>
    </form>
  </div>

</section>
